<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title SCS Commerce

    //- link(rel="stylesheet" href="./github-gist.css")
    link(rel="stylesheet" href="./github-gist.css")
    link(rel="stylesheet" href="./index.css")

  body
    .container
      h1 SCS Architecture

      a(href="https://github.com/scs-commerce/") Repository at Github
      = " | "
      a(href="https://github.com/orgs/scs-commerce/projects/1") Issues and Project Tracking

      .editorial-content

        include partials/intro.pug

        include partials/information-architecture.pug

        include partials/running.pug

        :markdown-it
          Copyright 2017 @ Falk Hoppe | [LICENSE](./LICENSE.txt)
    script(src='./highlight.pack.js')
    script.
      hljs.initHighlightingOnLoad();
